<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Safouane.gg the ultimate experience to see information about yourself and some small data behind your favorite champions.">
    <link rel="stylesheet" href="/main.css">
    <title>Safouane.GG</title>
    <link rel="manifest" href="/manifest.json">
    <script defer src="/service-worker.js"></script>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
<header class="bg-white shadow">
    <nav class="container mx-auto px-6 py-3">
        <div class="flex items-center justify-between">
            <div class="text-gray-800 text-xl font-semibold">Safouane.GG</div>
            <div class="flex items-center space-x-4">
                <a href="/summoner" class="text-gray-800 hover:text-gray-500">Home</a>
                <a href="/champions" class="text-gray-800 hover:text-gray-500">Champions</a>
                <a href="/download" class="px-4 py-2 rounded-md bg-blue-500 text-white hover:bg-blue-600">Download</a>
                <h1>Welcome <%= username %>!</h1>
            </div>
        </div>
    </nav>
</header>

<main class="">
    <% if (summonerName) { %>
        <p>Your registered summoner name is: <%= summonerName %></p>
    <% } else { %>
        <p>Please add your summoner name in the <a href="/profile">Profile</a> page.</p>
    <% } %>
    <div>
        <h2>Solo Queue:</h2>
        <p>Tier: <%= summonerData.rank.solo.tier %></p>
        <p>LP: <%= summonerData.rank.solo.lp %></p>
    </div>
    <div>
        <h2>Flex Queue:</h2>
        <p>Tier: <%= summonerData.rank.flex.tier %></p>
        <p>LP: <%= summonerData.rank.flex.lp %></p>
    </div>
        <% const champions = {}; %>
        <% Object.keys(championData.data).forEach(key => { %>
            <% champions[championData.data[key].key] = championData.data[key].name; %>
        <% }); %>
        <div class="flex flex-wrap justify-center sm:justify-start">
            <% for (let i = 0; i < 6 && i < summonerMastery.length; i++) { %>
                <% const championId = summonerMastery[i].championId; %>
                <% const championName = champions[championId]; %>
                <div class="flex flex-col items-center justify-center w-24 sm:w-32 mr-4 mb-4">
                    <a href="/champions/<%= championName %>" class="relative block">
                        <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/champion/<%= getFilteredName(championName) %>.png"
                             alt="<%= championName %>" class="rounded-full w-24 h-24 sm:w-32 sm:h-32">
                    </a>
                    <div class="absolute bottom-0 left-0 w-full text-center font-bold text-white">
                        <p><%= championName %></p>
                    </div>
                </div>
            <% } %>
        </div>
</main>

<footer class="bg-white shadow mt-12 ">
    <div class="container mx-auto px-6 py-3 flex justify-between items-center ">
        <div class="text-gray-800 text-sm">&copy; 2023 Safouane.GG</div>
        <div class="flex items-center space-x-4">
            <a href="#" class="text-gray-800 hover:text-gray-500">About</a>
            <a href="#" class="text-gray-800 hover:text-gray-500">Privacy</a>
            <a href="#" class="text-gray-800 hover:text-gray-500">Terms</a>
        </div>
    </div>
</footer>
</body>
</html>