<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Safouane.gg the ultimate experience to see information about yourself and some small data behind your favorite champions.">

    <link rel="stylesheet" href="/main.css">
    <title>Safouane.GG - Chat Room <% roomId%>></title>
</head>

<body class="flex min-h-screen flex-col bg-gray-100">
<header class="bg-white shadow">
    <nav class="container mx-auto px-6 py-3">
        <div class="flex items-center justify-between">
            <div class="text-xl font-semibold text-gray-800">Safouane.GG</div>
            <div class="flex items-center space-x-4">
                <a href="/summoner" class="text-gray-800 hover:text-gray-500">Home</a>
                <a href="/champions" class="text-gray-800 hover:text-gray-500">Champions</a>
                <a href="/summoner" class="text-gray-800 hover:text-gray-500">Match finder</a>
            </div>
            <button id="notificationBell">
                <span>🔔</span>
                <span id="notificationCount">0</span>
            </button>
        </div>
    </nav>
    <div id="error" class="hidden fixed top-0 inset-x-0 px-2 py-4 z-50 bg-red-600 text-white text-center">
        It seems you're offline and you have been disconnected
    </div>
</header>
<main class="container mx-auto px-6 py-3">
    <div class="flex flex-row">
        <div class="w-1/4 pr-3">
            <div class="flex flex-col space-y-4 rounded-md bg-gray-100 p-4 pr-5 shadow-lg">
                <p>What do you want to do?</p>
                <button id="createRoomButton" class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-800">Create
                    Room
                </button>
                <a href="/rooms" class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">View Rooms</a>
                <button class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">Match finder</button>
                <button class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">Dark/Light mode</button>
                <button class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">Users</button>
            </div>
        </div>
        <div class="w-3/4">
            <div class="rounded-md bg-white p-4 shadow-lg">
                <div class="flex items-center space-x-4">
                    <img class="h-10 w-10 rounded-full"
                         src="http://ddragon.leagueoflegends.com/cdn/13.3.1/img/profileicon/<%= user.summonerIconId %>.png"
                         alt="Profile picture"/>
                    <div class="flex-1">
                        <form id="messageForm">
                            <input type="hidden" id="userId" value="<%= user.id %>">
                            <input type="hidden" id="roomId" value="<%= roomId %>">
                            <textarea id="messageInput"
                                      class="h-20 w-full resize-none rounded-md border border-gray-300 p-2 focus:border-blue-500"
                                      placeholder="What's happening?" maxlength="280"></textarea>
                            <div class="mt-2 flex items-center justify-between">
                                <div>
                                    <button class="rounded bg-blue-500 px-3 py-1 text-white hover:bg-blue-600"
                                            type="submit">Post
                                    </button>
                                    <input type="checkbox" id="nsfw" name="nsfw" value="true">
                                    <label for="nsfw" class="ml-1">NSFW</label>
                                </div>
                                <div class="text-sm text-gray-500"><span class="tweet-length">0</span>/280</div>
                            </div>
                        </form>
                    </div>
                </div>
                <i class="fa-regular fa-thumbs-up"></i><i class="fa-regular fa-thumbs-up"></i><i
                        class="fa-regular fa-thumbs-up"></i>
                <div class="relative flex items-center py-5">
                    <div class="flex-grow border-t border-gray-400"></div>
                    <span class="mx-4 flex-shrink text-gray-400">Messages</span>
                    <div class="flex-grow border-t border-gray-400"></div>
                </div>
                <div class="mt-4 grid grid-cols-2 grid-rows-2 gap-4">
                    <div class="col-span-2 row-span-2">
                        <div class="space-y-4" id="messages">
                            <% if (posts.length === 0) { %>
                                <div class="text-center py-4 text-gray-700">
                                    No posts yet.
                                </div>
                            <% } else { %>
                                <% posts.forEach(post => { %>
                                    <div class="flex items-center space-x-4">
                                        <img class="h-10 w-10 rounded-full"
                                             src="http://ddragon.leagueoflegends.com/cdn/13.3.1/img/profileicon/<%= post.summonerIconId %>.png"
                                             alt="<%= post.nickname %>"/>
                                        <div>
                                            <div class="font-bold"><%= post.nickname %> A.K.A <span
                                                        class="text-gray-500"><%= post.summonerName %></span></div>
                                            <p class="text-xs text-gray-500"><%= new Date(post.created_at).toLocaleString() %></p>
                                            <p class="text-gray-700"><%= post.message %></p>
                                        </div>
                                        <button class="like-button focus:outline-none" data-post-id="<%= post.id %>">
                                            <span class="<%= post.user_liked ? 'text-blue-500' : 'text-gray-500' %>">⭐️</span>
                                        </button>
                                        <span class="like-counter text-xs"><%= post.like_count > 0 ? post.like_count : '' %></span>
                                    </div>
                                <% }) %>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    modal start-->
    <div id="createRoomModal" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog"
         aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

        <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                     stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"/>
                                </svg>
                            </div>
                            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                <form id="createRoomForm">
                                    <div class="group relative z-0 mb-6 w-full">
                                        <input type="text" name="room_name" id="room_name"
                                               class="peer block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0 dark:border-gray-600  dark:focus:border-blue-500"
                                               placeholder=" " required/>
                                        <label for="room_name"
                                               class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 dark:text-gray-400 peer-focus:dark:text-blue-500">Room
                                            Name</label>
                                    </div>
                                    <div class="group relative z-0 mb-6 w-full">
                                        <input type="number" name="room_size" id="room_size"
                                               class="peer block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0 dark:border-gray-600  dark:focus:border-blue-500"
                                               placeholder=" " required/>
                                        <label for="room_size"
                                               class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 dark:text-gray-400 peer-focus:dark:text-blue-500">Room
                                            Size</label>
                                    </div>
                                    <div class="group relative z-0 mb-6 w-full">
                                        <input type="checkbox" name="room_private" id="room_private" class="peer"/>
                                        <label for="room_private"
                                               class="ml-2 text-sm text-gray-500 duration-300 dark:text-gray-400">Private</label>
                                    </div>
                                    <div class="group relative z-0 mb-6 w-full">
                                        <input type="password" name="room_password" id="room_password"
                                               class="peer block w-full appearance-none border-0 border-b-2 border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0 dark:border-gray-600  dark:focus:border-blue-500"
                                               placeholder=" "/>
                                        <label for="room_password"
                                               class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 dark:text-gray-400 peer-focus:dark:text-blue-500">Password</label>
                                    </div>
                                    <p>If you'd like to add user(s) to your room</p>
                                    <div>
                                        <div class="group relative z-0 mb-6 w-full">
                                            <input type="text" name="search_user" id="floating_search_user" placeholder=" " />
                                        </div>
                                    </div>
                                    <div id="suggestions_list"></div>
                                    <div>
                                        <div id="selected_users_container"></div>
                                    </div>

                                    <button type="submit"
                                            class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 sm:ml-3 sm:w-auto">
                                        Save
                                    </button>
                                    <button type="button" id="cancelCreateRoom"
                                            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->


</main>
</body>
<script>
    document.getElementById("createRoomButton").addEventListener("click", () => {
        document.getElementById("createRoomModal").classList.remove("hidden");
    });

    document.getElementById("cancelCreateRoom").addEventListener("click", () => {
        document.getElementById("createRoomModal").classList.add("hidden");
    });

    document.getElementById('notificationBell').addEventListener('click', () => {
        // Show hidden invitations
    });


    const privateCheckbox = document.getElementById('room_private');
    const passwordInput = document.getElementById('room_password');
    const passwordLabel = document.querySelector('label[for="room_password"]');

    privateCheckbox.addEventListener('change', () => {
        if (privateCheckbox.checked) {
            passwordInput.style.display = 'block';
            passwordLabel.style.display = 'block';
        } else {
            passwordInput.style.display = 'none';
            passwordLabel.style.display = 'none';
        }
    });

    // Initialize the password input field visibility on page load
    passwordInput.style.display = privateCheckbox.checked ? 'block' : 'none';
    passwordLabel.style.display = privateCheckbox.checked ? 'block' : 'none';



</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages-matchfinder.js" type="module"></script>
<script src="/js/rooms/roomForm.js" type="module"></script>
<script src="/js/rooms/offlineMessage.js" type="module"></script>
<script src="/js/rooms/invitations.js" type="module"></script>


</html>


