<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Safouane.gg the ultimate experience to see information about yourself and some small data behind your favorite champions.">

    <link rel="stylesheet" href="/main.css">
    <title>Safouane.GG - Chat Main Menu</title>
</head>

<body class="flex min-h-screen flex-col bg-gray-100">
<header class="bg-white shadow">
    <nav class="container mx-auto px-6 py-3">
        <div class="flex items-center justify-between">
            <div class="text-xl font-semibold text-gray-800">Safouane.GG</div>
            <div class="flex items-center space-x-4">
                <a href="/summoner" class="text-gray-800 hover:text-gray-500">Home</a>
                <a href="/champions" class="text-gray-800 hover:text-gray-500">Champions</a>
                <a href="/summoner" class="text-gray-800 hover:text-gray-500">Match finder</a>
            </div>
        </div>
    </nav>
</header>
<main class="container mx-auto px-6 py-3">
    <div class="flex flex-row">
        <div class="w-1/4 pr-3">
            <div class="flex flex-col space-y-4 rounded-md bg-gray-100 p-4 pr-5 shadow-lg">
                <p>What do you want to do?</p>
                <button class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-800">Create Room</button>
                <button class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">View Rooms</button>
                <button class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">Match finder</button>
                <button class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">Dark/Light mode</button>
                <button class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">Users</button>
            </div>
        </div>
        <div class="w-3/4">
            <div class="rounded-md bg-white p-4 shadow-lg">
                <div class="flex items-center space-x-4">
                    <img class="h-10 w-10 rounded-full"
                         src="http://ddragon.leagueoflegends.com/cdn/13.3.1/img/profileicon/<%= user.summonerIconId %>.png"
                         alt="Profile picture"/>
                    <div class="flex-1">
                        <form id="messageForm">
                            <input type="hidden" id="userId" value="<%= user.id %>">
                            <textarea id="messageInput"
                                      class="h-20 w-full resize-none rounded-md border border-gray-300 p-2 focus:border-blue-500"
                                      placeholder="What's happening?" maxlength="280"></textarea>
                            <div class="mt-2 flex items-center justify-between">
                                <div>
                                    <button class="rounded bg-blue-500 px-3 py-1 text-white hover:bg-blue-600"
                                            type="submit">Post
                                    </button>
                                    <input type="checkbox" id="nsfw" name="nsfw" value="true">
                                    <label for="nsfw" class="ml-1">NSFW</label>
                                </div>
                                <div class="text-sm text-gray-500"><span class="tweet-length">0</span>/280</div>
                            </div>
                        </form>
                    </div>
                </div>
                <i class="fa-regular fa-thumbs-up"></i><i class="fa-regular fa-thumbs-up"></i><i class="fa-regular fa-thumbs-up"></i>
                <div class="relative flex items-center py-5">
                    <div class="flex-grow border-t border-gray-400"></div>
                    <span class="mx-4 flex-shrink text-gray-400">Messages</span>
                    <div class="flex-grow border-t border-gray-400"></div>
                </div>
                <div class="mt-4 grid grid-cols-2 grid-rows-2 gap-4">
                    <div class="col-span-2 row-span-2">
                        <div class="space-y-4" id="messages">
                            <% if (posts.length === 0) { %>
                                <div class="text-center py-4 text-gray-700">
                                    No posts yet.
                                </div>
                            <% } else { %>
                                <% posts.forEach(post => { %>
                                    <div class="flex items-center space-x-4">
                                        <img class="h-10 w-10 rounded-full"
                                             src="http://ddragon.leagueoflegends.com/cdn/13.3.1/img/profileicon/<%= post.summonerIconId %>.png"
                                             alt="<%= post.nickname %>"/>
                                        <div>
                                            <div class="font-bold"><%= post.nickname %> A.K.A <span
                                                        class="text-gray-500"><%= post.summonerName %></span></div>
                                            <p class="text-xs text-gray-500"><%= new Date(post.created_at).toLocaleString() %></p>
                                            <p class="text-gray-700"><%= post.message %></p>
                                        </div>
                                        <button class="like-button focus:outline-none" data-post-id="<%= post.id %>">
                                            <span class="<%= post.user_liked ? 'text-blue-500' : 'text-gray-500' %>">⭐️</span>
                                        </button>
                                        <span class="like-counter text-xs"><%= post.like_count > 0 ? post.like_count : '' %></span>
                                    </div>
                                <% }) %>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages-matchfinder.js" type="module"></script>
</html>


