<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/main.css">
    <title><%summonerName %></title>
</head>
<body>
<% if (summonerName) { %>
    <h1> <%= summonerName %></h1>


    <h2>Solo Queue:</h2>
    <p>Tier: <%= soloQueueData.tier %></p>
    <p>LP: <%= soloQueueData.lp %></p>
    <p>Results: <%= soloQueueData.results %></p>
    <p>Win Rate: <%= soloQueueData.winRate %></p>

    <h2>Flex Queue:</h2>
    <p>Tier: <%= flexQueueData.tier %></p>
    <p>LP: <%= flexQueueData.lp %></p>
    <p>Results: <%= flexQueueData.results %></p>
    <p>Win Rate: <%= flexQueueData.winRate %></p>


    <% const champions = {}; %>
    <% Object.keys(championData.data).forEach(key => { %>
        <% champions[championData.data[key].key] = championData.data[key].name; %>
    <% }); %>

    <div class="champion-slider-style">
        <% for (let i = 0; i < 6 && i < summonerMastery.length; i++) { %>
            <% const championId = summonerMastery[i].championId; %>
            <% const championName = champions[championId]; %>
            <li class="single-champion-slider">
                <a href="javascript:void(0);" onclick="displayChampionDetails('<%= summonerName %>', '<%= championId %>')">
                    <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/champion/<%= getFilteredName(championName) %>.png" alt="<%= championName %>">
                    <p><%= championName %></p>
                    <div class="champion-details" id="champion-details">

                    </div>
                </a>
            </li>
        <% } %>
    </div>



<% } %>
<script>
    async function displayChampionDetails(summonerName, championId) {
        try {
            const response = await fetch(`/api/summoner/${summonerName}/${championId}`);
            const championDetails = await response.json();

            document.getElementById("champion-details").innerHTML = `
                <h2>${championDetails.championName}</h2>
                <h3>${championDetails.championTitle}</h3>
                <p>${championDetails.championBio}</p>
            `;
        } catch (error) {
            console.error(error);
        }
    }
</script>
</body>
</html>